
body {
    /* background:rgb(203, 26, 94); */
    color:rgb(102, 97, 97);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    animation: 10000ms ease-in-out infinite color-change;
   }
  
  /* color changing effect code derived from: */
  /* https://stackoverflow.com/questions/43371912/how-to-make-an-html-css-js-color-changing-background-like-kahoot-it-has */
   @keyframes color-change {
    0% {
      background-color: #062B79;
    }
    20% {
      background-color: #16498A;
    }
    40% {
      background-color: #599587;
    }
    60% {
      background-color: #FAFBBD;
    }
    80% {
      background-color: #FDE050;
    }
    100% {
      background-color: #F1B351;
    }
  }
   a {
    text-decoration:none;
   }
   #main {
    width:70%;
   }
   #main div {
    font-weight:bold;
    padding-bottom:21px;
   }